@import "../../styles/scss-variables.scss";

#main-nav__wrapper {
    flex-basis: 270px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: var(--white);
    padding: 2rem;
}

#main-nav__navigation {
    margin-top: 2rem;
}

.main-nav__link {
    display: flex;
    align-items: center;
    color: var(--gray-3);
    text-decoration: none;
    padding: 1rem 1.25rem;
    border-radius: var(--border-radius-lg);
    background-color: var(--white);
    font-weight: 500;
    font-size: var(--font-size-base);
    margin-bottom: .5rem;
}
.main-nav__link:hover{
    background-color: var(--gray-light);
}
.main-nav__link:active, .main-nav__link.active{
    background-color: var(--primary);
    color: var(--white);
}

.main-nav__link svg{
    width: 20px;
    margin-right: 1rem;
    font-size: $font-size-base * 1.2;
}