@import './src/utils/styles/scss-variables';
@import './src/utils/styles/scss-mixins';

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $border-radius-lg;
  background-color: $white;
  text-decoration: none;
  padding: 1rem;
  transition: all .2s ease-in-out;
  gap: 1rem;
  color:$gray-3;
  margin-bottom: 1rem;

  .recipe-card__meta{
    span{
      margin-right: 1rem;
      margin-bottom: .5rem;
      display: inline-block;
      svg{
        margin-right: .1rem;
      }
    }
    .recipe-card__rating svg{
      color:$primary;
    }
  }

  &:hover {
    background-color: $primary-bg;
    color:$gray-3;
  }
  figure {
    border-radius: $border-radius-base;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

@include media-breakpoint-up(sm){
  .recipe-card{
    flex-direction: row;

    figure {
      width: 150px;
      height:150px;
      min-height: 150px;
      min-width: 150px;
    }
  }
}