@import '../../../../utils/styles/scss-variables';

.form-select__group {
  position: relative;

  .form-select {
    position: relative;
    z-index: 1;
    padding-right: 2rem;
  }

  &:after {
    top: 50%;
    right: 1rem;
    content: '';
    border: solid $gray-3;
    border-width: 0 2px 2px 0;
    padding: 2px;
    display: block;
    position: absolute;
    transform: rotate(45deg) translate(-25%, -75%);
    z-index: 2;
  }
}

.form-select {
  cursor: pointer;
}