@import "../../../utils/styles/scss-variables";
@import "../../../utils/styles/scss-mixins";

#app-logo__img {
  width: 100%;
  height: auto;
}

#main-nav__wrapper {
  height: 100vh;
  max-height: 100vh;
  max-width: 270px;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--recipe-white);
  padding: 2rem;
  transition: left .2s ease-in-out;
  z-index: 110;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  @include scrollbar;
}

.main-hidden #main-nav__wrapper {
  left: -270px;
}

.main-show #main-nav__wrapper {
  left: 0;
}

#main-nav__navigation {
  margin: 2rem 0;
}

.main-nav__link {
  display: flex;
  align-items: center;
  color: var(--recipe-gray-3);
  text-decoration: none;
  padding: 1rem 1.25rem;
  border-radius: var(--recipe-border-radius-lg);
  background-color: var(--recipe-white);
  font-weight: 500;
  font-size: var(--recipe-font-size-base);
  margin-bottom: .5rem;
}

a.main-nav__link:hover, a.main-nav__link:active, a.main-nav__link:focus {
  background-color: var(--recipe-gray-light);
  color: var(--recipe-gray-3);
}

a.main-nav__link.active, a.main-nav__link.active:hover, a.main-nav__link.active:focus, a.main-nav__link.active:active {
  background-color: var(--recipe-primary);
  color: var(--recipe-white);
}

.main-nav__link svg {
  width: 20px;
  margin-right: 1rem;
  font-size: $font-size-base * 1.2;
}

#main-nav__close {
  position: fixed;
  top: 1rem;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: left .2s ease-in-out;
}

.main-hidden #main-nav__close{
  left: -50px;
}
.main-show #main-nav__close {
  left: 270px;
}

@include media-breakpoint-up(md){
  #main-nav__close {
    display: none;
  }
}
