@import "../../../utils/styles/scss-variables";
@import "../../../utils/styles/scss-mixins";

#app-logo__img {
  width: 100%;
  height: auto;
}

#main-nav__wrapper {
  height: 100vh;
  max-width: 270px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--recipe-white);
  padding: 2rem;
  transition: left .2s ease-in-out;
  z-index: 110;
}

.main-hidden #main-nav__wrapper {
  left: -270px;
}

.main-show #main-nav__wrapper {
  left: 0;
}

#main-nav__navigation {
  margin-top: 2rem;
}

.main-nav__link {
  display: flex;
  align-items: center;
  color: var(--recipe-gray-3);
  text-decoration: none;
  padding: 1rem 1.25rem;
  border-radius: var(--recipe-border-radius-lg);
  background-color: var(--recipe-white);
  font-weight: 500;
  font-size: var(--recipe-font-size-base);
  margin-bottom: .5rem;
}

.main-nav__link:hover {
  background-color: var(--recipe-gray-light);
}

.main-nav__link:active, .main-nav__link.active {
  background-color: var(--recipe-primary);
  color: var(--recipe-white);
}

.main-nav__link svg {
  width: 20px;
  margin-right: 1rem;
  font-size: $font-size-base * 1.2;
}

#main-nav__close {
  display: none;
  position: absolute;
  top: 1rem;
  right: 0;
  transform: translateX(50%);
  border-radius: 50%;
}

.main-hidden #main-nav__close {
  display: none;
}

@include media-breakpoint-down(md){
  .main-show #main-nav__close {
    display: inline-block;
  }
}
