@use "sass:math";

/********************
 * COLORS
 ********************/
$gray-1: #F5F5F5;
$gray-2: #DBDBDB;
$gray-3: #837D8E;
$gray-4: #2E2E2E;
$white: #FFFFFF;
$primary: #FF8000;
$primary-hover: #fd9127;
$primary-bg: #ffeadd;
$danger: #FF0000;
$danger-hover: #ff4b4b;
$danger-bg: #ffe5e5;
$success: #06b206;
$success-hover: #60ce60;
$success-bg: #e7ffe7;
$dark: #2E2E2E;
$dark-hover: #3d3d3d;
$dark-bg: #e5e5e5;

$colors: () !default;
$colors: map-merge(
                (
                        "white": $white,
                        "gray-light": $gray-1,
                        "gray": $gray-2,
                        "gray-dark": $gray-3,
                        "black": $gray-4
                ),
                $colors
);

$theme-colors: () !default;
$theme-colors: map-merge(
                (
                        "primary": $primary,
                        "primary-hover": $primary-hover,
                        "danger": $danger,
                        "danger-hover": $danger-hover,
                        "success": $success,
                        "success-hover": $success-hover,
                        "dark": $dark,
                        "dark-hover": $dark-hover
                ),
                $theme-colors
);

/********************
 * BORDERS
 ********************/
$border-radius-base: 8px;
$border-radius-sm: math.div($border-radius-base, 2);
$border-radius-lg: $border-radius-base * 2;

$border-radius: () !default;
$border-radius: map-merge(
                (
                        "sm": $border-radius-sm,
                        "base": $border-radius-base,
                        "lg": $border-radius-lg
                ),
                $border-radius
);


/********************
 * FONT
 ********************/
$font-family: 'Poppins', sans-serif;
$font-size-base: .9rem;

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.5rem;
$h4: 1.2rem;
$h5: 1rem;
$h6: .9rem;