@import "../../styles/scss-variables.scss";

.btn {
  font-size: $font-size-base;
  font-family: $font-family;
  font-weight: bold;
  background-color: $white;
  color:$gray-4;
  border: 1px solid $gray-2;
  padding: .5rem 1.5rem;
  border-radius: $border-radius-base;

  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
}
.btn:focus,
.btn:active:focus {
  outline:0;
  box-shadow: 0 0 0 2px $gray-4;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: $gray-1;
}

.btn-sm{
  border-radius: $border-radius-sm;
  font-size: .7rem;
  padding: .35rem 1rem;
}

.btn-lg{
  border-radius: $border-radius-lg;
  font-size: 1rem;
  padding: .75rem 2.25rem;
}

.btn-icon{
  padding: .5rem 1rem;
}

/* primary
---------------------------- */
.btn-primary {
  color: $white;
  background-color: $primary;
  border-color: $primary;
}
.btn-primary:focus,
.btn-primary:active {
  color: $white;
  background-color: $primary;
  border-color: $primary;
}
.btn-primary:hover {
  color: $white;
  background-color: $primary-hover;
  border-color: $primary-hover;
}

/* danger
---------------------------- */
.btn-danger {
  color: $white;
  background-color: $danger;
  border-color: $danger;
}
.btn-danger:focus,
.btn-danger:active {
  color: $white;
  background-color: $danger;
  border-color: $danger;
}
.btn-danger:hover {
  color: $white;
  background-color: $danger-hover;
  border-color: $danger-hover;
}

/* success
---------------------------- */
.btn-success {
  color: $white;
  background-color: $success;
  border-color: $success;
}
.btn-success:focus,
.btn-success:active {
  color: $white;
  background-color: $success;
  border-color: $success;
}
.btn-success:hover {
  color: $white;
  background-color: $success-hover;
  border-color: $success-hover;
}

/* dark
---------------------------- */
.btn-dark {
  color: $white;
  background-color: $dark;
  border-color: $dark;
}
.btn-dark:focus,
.btn-dark:active {
  color: $white;
  background-color: $dark;
  border-color: $dark;
}
.btn-dark:hover {
  color: $white;
  background-color: $dark-hover;
  border-color: $dark-hover;
}