#account-nav__wrapper{
    top:0;
    right:0;
    bottom:0;
    position: fixed;
    width:100%;
    max-width: 320px;
    background-color: var(--white);
    padding: 2rem;
    transition: right .2s ease-in-out;
    z-index: 1010;
}
.account-hidden #account-nav__wrapper{
    right: -320px;
}
.account-show #account-nav__wrapper{
    right:0;
}
