#account-nav__wrapper{
    top:0;
    right:0;
    bottom:0;
    position: fixed;
    width:100%;
    max-width: 320px;
    background-color: var(--white);
    padding: 2rem;
    transition: right .2s ease-in-out;
}
#account-nav__wrapper.hidden{
    right: -320px;
}
#account-nav__wrapper.show{
    right:0;
}