@import "utils/styles/scss-variables.scss";
@import "utils/styles/scss-mixins.scss";

#app__wrapper {
  position: relative;
  background-color: $gray-1;
  min-height: 100vh;
}

#app__wrapper span.backdrop {
  display: block;
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  position: fixed;
  transition: opacity .2s ease-in-out;
}

#app__wrapper.account-hidden span.backdrop {
  opacity: 0;
  width: 1px;
  right: -1px;
}

#app__wrapper.account-show.main-hidden span.backdrop,
#app__wrapper.account-show.main-show span.backdrop {
  opacity: 1;
  width: 100%;
  right: 0;
  z-index: 1000;
}
@include media-breakpoint-down(md) {
  #app__wrapper.main-hidden span.backdrop {
    opacity: 0;
    width: 1px;
    left: -1px;
  }

  #app__wrapper.main-show.account-hidden span.backdrop {
    opacity: 1;
    width: 100%;
    left: 0;
    z-index: 100;
  }
}