@import "utils/styles/scss-variables.scss";

:root {
  @each $color, $value in $colors {
    --recipe-#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --recipe-#{$color}: #{$value};
  }
  --recipe-font-family: #{inspect($font-family)};

  @each $border, $value in $border-radius {
    --recipe-border-radius-#{$border}: #{$value};
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--recipe-gray-light);
  margin: 0;
  color: var(--recipe-gray-dark);
  font-weight: 400;
  line-height: 1.5;
  font-size: $font-size-base;
  font-family: var(--recipe-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a, button {
  outline: 0;
}

input::-moz-focus-inner {
  border: 0;
}

a {
  color: var(--recipe-primary);
}

a:hover, a:focus, a:active {
  color: var(--recipe-primary-hover);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--recipe-black);
  margin-bottom: .5rem;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

p {
  margin-bottom: .5rem;
}

@each $color, $value in $theme-colors {
  .text-#{$color} {
    color: #{$value} !important;
  }
}

img{
  width:100%;
  max-width: 100%;
  height: auto;
}