@import "utils/styles/scss-variables.scss";

:root {
  @each $color, $value in $colors {
    --recipe-#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --recipe-#{$color}: #{$value};
  }
  --recipe-font-family: #{inspect($font-family)};

  @each $border, $value in $border-radius {
    --recipe-border-radius-#{$border}: #{$value};
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--recipe-gray-light);
  margin: 0;
  color: var(--recipe-gray-dark);
  font-weight: 400;
  line-height: 1.5;
  font-size: $font-size-base;
  font-family: var(--recipe-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a, button {
  outline: 0;
  transition: all .2s ease-in-out;
}

input::-moz-focus-inner {
  border: 0;
}

.form-field, .form-select, input {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  color: $gray-4;
  font-size: $font-size-base;
  line-height: 1.5;
  height: 40px;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $gray-2;
  appearance: none;
  border-radius: $border-radius-base;
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.form-field:read-only,
.form-field:read-only:focus {
  background-color: var(--recipe-gray-light);
  cursor: not-allowed;
}

.form-field:focus {
  color: $gray-4;
  background-color: $white;
  border-color: $primary;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba($primary, .25);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gray-3;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $gray-3;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $gray-3;
}

a {
  color: var(--recipe-primary);
}

a:hover, a:focus, a:active {
  &:not(.btn){
    color: var(--recipe-primary-hover);
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--recipe-black);
  margin-bottom: .5rem;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

p {
  margin-bottom: .5rem;
}

@each $color, $value in $theme-colors {
  .text-#{$color} {
    color: #{$value} !important;
  }
}

img{
  width:100%;
  max-width: 100%;
  height: auto;
}


.btn, button {
  height: 40px;
  font-size: $font-size-base;
  font-family: $font-family;
  font-weight: bold;
  background-color: $white;
  color: $gray-4;
  border: 1px solid $gray-2;
  padding: .5rem 1.5rem;
  border-radius: $border-radius-base;
  outline: 0;
  filter: blur(0);

  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
}

.btn:focus,
.btn:active:focus {
  box-shadow: 0 0 0 2px $gray-4;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: $gray-1;
}

.btn:active {
  box-shadow: 0 0 0 2px $gray-4;
}

.btn-sm {
  border-radius: $border-radius-sm;
  font-size: .7rem;
  padding: .35rem 1rem;
  height: 30px;
}

.btn-lg {
  border-radius: $border-radius-lg;
  font-size: 1rem;
  padding: .75rem 2.25rem;
  height: 50px;
}

.btn-icon {
  padding: .5rem 1rem;
}

.btn-primary {
  color: $white;
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:focus,
.btn-primary:active {
  color: $white;
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover {
  color: $white;
  background-color: $primary-hover;
  border-color: $primary-hover;
}

.btn-danger {
  color: $white;
  background-color: $danger;
  border-color: $danger;
}

.btn-danger:focus,
.btn-danger:active {
  color: $white;
  background-color: $danger;
  border-color: $danger;
}

.btn-danger:hover {
  color: $white;
  background-color: $danger-hover;
  border-color: $danger-hover;
}

.btn-success {
  color: $white;
  background-color: $success;
  border-color: $success;
}

.btn-success:focus,
.btn-success:active {
  color: $white;
  background-color: $success;
  border-color: $success;
}

.btn-success:hover {
  color: $white;
  background-color: $success-hover;
  border-color: $success-hover;
}

.btn-dark {
  color: $white;
  background-color: $dark;
  border-color: $dark;
}

.btn-dark:focus,
.btn-dark:active {
  color: $white;
  background-color: $dark;
  border-color: $dark;
}

.btn-dark:hover {
  color: $white;
  background-color: $dark-hover;
  border-color: $dark-hover;
}