*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --gray-1:#F5F5F5;
  --gray-2:#DBDBDB;
  --gray-3:#837D8E;
  --gray-4:#2E2E2E;
  --white:#FFFFFF;
  --primary:#FF8000;
  --danger:#FF0000;
  --border-radius-sm: 4px;
  --border-radius: 8px;
  --border-radius-lg: 16px;
  --font-size-base: 1rem;
}

body {
  background-color: var(--gray-1);
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
