@import './src/utils/styles/scss-variables';
@import './src/utils/styles/scss-mixins';

#page__wrapper {
  width: 100%;
  transition: padding-left .2s ease-in-out;
  position: relative;
}

.main-hidden #page__wrapper {
  padding-left: 0;
}

@include media-breakpoint-up(md) {
  .main-show #page__wrapper {
    padding-left: 270px;
  }
}

#page-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@include media-breakpoint-up(sm){
  #page-content {
    padding-top: 2em;
    padding-bottom: 2rem;
  }
}

.page-title{
  margin-bottom: 2rem;
}