@import "../../utils/styles/scss-variables.scss";

.form-field__group {
  margin-bottom: 1rem;
}

.form-field__label {
  display: inline-block;
  margin-bottom: .35rem;
  color: $gray-3;
}

.form-field__wrapper {
  position: relative;
}

.form-field, .form-select, input {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  color: $gray-4;
  font-size: $font-size-base;
  line-height: 1.5;
  height: 40px;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $gray-2;
  appearance: none;
  border-radius: $border-radius-base;
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.form-field:read-only,
.form-field:read-only:focus {
  background-color: var(--recipe-gray-light);
  cursor: not-allowed;
}

.form-field:focus {
  color: $gray-4;
  background-color: $white;
  border-color: $primary;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba($primary, .25);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gray-3;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $gray-3;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $gray-3;
}

.filter__type{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
}
.form-select__group{
  position: relative;
  .form-select{
    position: relative;
    z-index: 1;
    padding-right: 2rem;
  }
  &:after{
    top: 50%;
    right: 1rem;
    content:'';
    border: solid $gray-3;
    border-width: 0 2px 2px 0;
    padding: 2px;
    display: block;
    position: absolute;
    transform: rotate(45deg) translate(-25%, -75%);
    z-index: 2;
  }
}
.form-select{
  cursor: pointer;
}

.form-field__icon {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: .5rem;
  width: 20px;
  height: 20px;
  text-align: center;
}

.form-field__icon-error, .form-field__error {
  color: $danger;
}

.form-field__meta {
  font-size: $font-size-base * 0.9;
  font-style: italic;
}

.form-notice {
  margin-top: 1rem;
}

#profile-picture {
  display: block;
  width: 75px;
  height: 75px;
  border: 1px solid $gray-2;
  border-radius: $border-radius-base;
  overflow: hidden;
  margin-top: .25rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#avatarUpdate {
  border: 0;
  padding: 0;
  overflow: visible;
  border-radius: 0;
  height: auto;
}

.form-field__label {
  position: relative;
}